* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  height: 50px;
  color: white;
  background-color: #30cfae;
}

.logo {
  font-size: 40px;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

li {
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

li:active {
  color: grey;
}

a {
  text-decoration: none;
}

.container-intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 150px;
  height: 650px;
  color: white;
  background-color: #30cfae;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.title {
  font-size: 48px;
  font-weight: 900;
}

.intro p {
  font-size: 26px;
}

.sign-up {
  padding: 8px 16px;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 900;
  background-color: #3882f6;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 18px;
  width: 110px;
  flex-shrink: 0;
}

.sign-up:active {
  background-color: #2253f3;
}

.intro-img .img {
  border-radius: 30px;
  width: 600px;
  height: 375px;
}

.container4 {
  background-color: #e5e7eb;
}

.container-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 900px;
  gap: 100px;
}

.inner-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img {
  border-radius: 30px;
}

.card p {
  font-size: 20px;
  font-weight: 500;
}

.main-title h2 {
  font-size: 45px;
  font-weight: 900;
}

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 550px;
}

.container-quote {
  display: flex;
  flex-direction: column;
}

.container-quote p {
  font-size: 40px;
  font-weight: 100;
  font-family: 'Cormorant Garamond', serif;
}

.container-signature {
  display: flex;
  flex-direction: row-reverse;
  margin-top: -60px;
}

.container-signature p {
  font-family: sans-serif;
  font-weight: 600;
  font-size: 21px;
}

.footer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-popup {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #397fff;
  color: white;
  border-radius: 8px;
  width: 1350px;
  height:160px;
}

.inner-popup {
  display: flex;
  flex-direction: column;
  font-size: 20px;
}

.inner-popup h3 {
  margin-bottom: -15px;
}

.outer-popup .sign-up {
  border: 2px solid white;
  border-radius: 10px;
  width: 150px;
  margin-left: -225px;
}